{% if kibana_config %}
{{ kibana_config | to_nice_yaml }}
{% endif %}

{% if kibana_enable_server_ssl %}
server.ssl.enabled: true
{% if kibana_ssl_keystore  %}
server.ssl.keystore.path: "{{ kibana_ssl_certificate_path }}/{{ kibana_ssl_keystore | basename }}"
{% elif kibana_ssl_key and kibana_ssl_certificate %}
server.ssl.key: "{{ kibana_ssl_certificate_path }}/{{ kibana_ssl_key | basename }}"
server.ssl.certificate: "{{ kibana_ssl_certificate_path }}/{{ kibana_ssl_certificate | basename }}"
{% endif %}
{% endif %}

{% if kibana_enable_elastic_ssl %}
elasticsearch.ssl.verificationMode: "{{ kibana_ssl_elastic_verificationMode }}"
{% if kibana_ssl_keystore %}
elasticsearch.ssl.truststore.path: "{{ kibana_ssl_certificate_path }}/{{ kibana_ssl_keystore | basename }}"
{% elif kibana_ssl_elastic_certificate_authority %}
elasticsearch.ssl.certificateAuthorities: [""{{ kibana_ssl_certificate_path }}/{{ kibana_ssl_elastic_certificate_authority | basename }}""]
{% endif %}
{% endif %}
